# Multiple Regression

## Learning goals:

For a multivariable linear regression, students will be able to:

* compare and contrast with univariable linear regression
* write an example of the equation
* develop one with statsmodels 
* assess the model fit 
* validate the model


### Keyterms
- Multivariable
- Train-test split
- MSE: Mean squared error
- RSME: Root squared mean error


## Scenario

The University of San Paulo in Brazil is likes to party. We are a contracted beer supplier to the University and we want to make sure we have enough supply on hand. We are hoping to build a model that can predict beer consumption given other variables. 


![beer](pexels-photo-544988-small.jpeg)
More about the dataset can be found [here](https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo)


###  Prior Knowledge


Before looking at the dataset, what variables do we think might be in there? What might make a student drink more? 

#### Step 1:  Discussion 

- compare and contrast with univariable linear regression
- How is this different from the regression we've done before?
- Here, you'll explore how to perform linear regressions using multiple independent variables to better predict a target variable.

#### Step 2:  Develop a multivariable regression model with statsmodels 

**Load Libraries and load in data**

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Consumo_cerveja.csv')

In [3]:
df.head()
#df.info()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

In [4]:
df_comma  = pd.read_csv('Consumo_cerveja.csv', decimal =',', parse_dates=['Data'])

In [7]:
df_comma['Consumo de cerveja (litros)'] = pd.to_numeric(df_comma['Consumo de cerveja (litros)'])

In [12]:
df = df_comma

In [14]:
df.drop('Data',inplace=True,  axis=1)

### Small Data Cleaning Tasks:
- Drop Date
- convert all the columns to numeric (replace ',' with '.')
- rename columns to be `name = ['temp-median', 'temp-min', 'temp-max', 'rain', 'finals-week', 'target']`

In [15]:
# clean data here
name = ['temp-median', 'temp-min', 'temp-max', 'rain', 'weekends', 'target']

In [16]:
df = df_comma

In [17]:
df.columns = name

In [18]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 6 columns):
temp-median    365 non-null float64
temp-min       365 non-null float64
temp-max       365 non-null float64
rain           365 non-null float64
weekends       365 non-null float64
target         365 non-null float64
dtypes: float64(6)
memory usage: 44.2 KB

       temp-median    temp-min    temp-max        rain    weekends      target
count   365.000000  365.000000  365.000000  365.000000  365.000000  365.000000
mean     21.226356   17.461370   26.611507    5.196712    0.284932   25.401367
std       3.180108    2.826185    4.317366   12.417844    0.452001    4.399143
min      12.900000   10.600000   14.500000    0.000000    0.000000   14.343000
25%      19.020000   15.300000   23.800000    0.000000    0.000000   22.008000
50%      21.380000   17.900000   26.900000    0.000000    0.000000   24.867000
75%      23.280000   19.600000   29.400000    3.200000    1.000000   28.631000
max      28.860000   24.500000   36.500000   94.800000    1.000000   37.937000

**Check** for NaNs

In [19]:
df.isna().sum()

temp-median    576
temp-min       576
temp-max       576
rain           576
weekends       576
target         576
dtype: int64

In [20]:
df.dropna(inplace=True)

In [21]:
df.shape

(365, 6)

In [22]:
df.tail()

     temp-median  temp-min  temp-max  rain  weekends  target
360        24.00      21.1      28.2  13.6       1.0  32.307
361        22.64      21.1      26.7   0.0       0.0  26.095
362        21.68      20.3      24.1  10.3       0.0  22.309
363        21.38      19.3      22.4   6.3       0.0  20.467
364        24.76      20.2      29.0   0.0       0.0  22.446

### Everyone write an example of an equation for our multiple regression

The main idea here is pretty simple. Whereas, in simple linear regression we took our dependent variable to be a function only of a single independent variable, here we'll be taking the dependent variable to be a function of multiple independent variables.

<img src="https://miro.medium.com/max/1400/1*d0icRnPHWjHSNXxuoYT5Vg.png" width=450 />

Our regression equation, then, instead of looking like $\hat{y} = mx + b$, will now look like:

$\hat{y} = \hat{\beta}_0 + \hat{\beta}_1x_1 + ... + \hat{\beta}_nx_n$.

Remember that the hats ( $\hat{}$ ) indicate parameters that are estimated.

$$ \hat y = \hat\beta_0 + \hat\beta_1 x_1 + \hat\beta_2 x_2 +\ldots + \hat\beta_n x_n $$ 

What would the formula be with real values?

**Send your equations to me via zoom or slack and I will paste them into the notebook**

Equations here

>

![statsmodels](https://www.statsmodels.org/stable/_static/statsmodels_hybi_banner.png)

Okay, now here's how you can use format and join to make the formula with **code**:

In [23]:
formula = 'target~{}'.format("+".join(df.columns[:-1]))
formula

'target~temp-median+temp-min+temp-max+rain+weekends'

In [24]:
model = sm.OLS(df.target, df.drop('target', axis=1)).fit()

In [25]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.991
Model:                            OLS   Adj. R-squared:                  0.991
Method:                 Least Squares   F-statistic:                     7620.
Date:                Sat, 20 Jul 2019   Prob (F-statistic):               0.00
Time:                        18:28:13   Log-Likelihood:                -851.48
No. Observations:                 365   AIC:                             1713.
Df Residuals:                     360   BIC:                             1732.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
temp-median     0.1192      0.202      0.590      0.555      -0.278       0.516
temp-min        0.1146      0.117      0.977      0.329      -0.116       0.345
temp-max        0.7313      0.102      7.179      0.000       0.531       0.932
rain           -0.0552      0.011     -5.112      0.000      -0.076      -0.034
weekends        5.4816      0.289     18.989      0.000       4.914       6.049
==============================================================================
Omnibus:                       20.752   Durbin-Watson:                   1.721
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                9.729
Skew:                          -0.175   Prob(JB):                      0.00771
Kurtosis:                       2.281   Cond. No.                         85.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### What's the actual multivariable  linear regression equation with the coefficients?

$$ \hat y = \hat\beta_0 + \hat\beta_1 x_1 + \hat\beta_2 x_2 +\ldots + \hat\beta_n x_n $$

#### Step 3: Assess the model fit
Demonstrate and Apply:

**Discussion:**

In groups of 2 or 3 write a synopsis of the following summary

* What can you say about the coefficients?

* What do the p-values tell us?

* What does R^2 represent

* What other insights do you notice?


#### Step 4: Validate the model 
![scikit](https://cdn-images-1.medium.com/max/1200/1*-FHtcdQljtGKQGm77uDIyQ.png)
- Build LinReg Model with Scikit-Learn
- Check some of the linear regression assumptions

In [26]:
linreg = LinearRegression()

In [27]:
X = df.drop("target", axis=1)
y = df.target

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [29]:
# use fit to form model
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
# gives you r squared of the model
linreg.score(X_test, y_test)

0.7051668717006755

`score` here returns the R^2. 

How does it differ from when you use the whole dataset?

### Integration:

Repeat this process for concrete mixture. the documentation can be found [here](http://archive.ics.uci.edu/ml/datasets/concrete+compressive+strength)
![test](building-construction-building-site-constructing-small.jpg)

In [31]:
df2 = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/concrete/compressive/Concrete_Data.xls')

In [32]:
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
Cement (component 1)(kg in a m^3 mixture)                1030 non-null float64
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    1030 non-null float64
Fly Ash (component 3)(kg in a m^3 mixture)               1030 non-null float64
Water  (component 4)(kg in a m^3 mixture)                1030 non-null float64
Superplasticizer (component 5)(kg in a m^3 mixture)      1030 non-null float64
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     1030 non-null float64
Fine Aggregate (component 7)(kg in a m^3 mixture)        1030 non-null float64
Age (day)                                                1030 non-null int64
Concrete compressive strength(MPa, megapascals)          1030 non-null float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

### Assessment

### Reflection

### Resources

Resources
https://towardsdatascience.com/linear-regression-detailed-view-ea73175f6e86

Full code implementation of Linear Regression
Full code — https://github.com/SSaishruthi/Linear_Regression_Detailed_Implementation

Multiple regression explained
https://www.statisticssolutions.com/what-is-multiple-linear-regression/