# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/Users/flatiron/Desktop/dc_ds_06_19/dc_ds_06_03_19/module_1/week_2/day_1_manipulating_data_pandas
total 176
drwxr-xr-x  10 flatiron  staff    320 Jun 10 13:50 .
drwxr-xr-x   3 flatiron  staff     96 Jun 10 13:46 ..
drwxr-xr-x   2 flatiron  staff     64 Jun 10 13:50 .ipynb_checkpoints
-rw-r--r--   1 flatiron  staff     95 Jun 10 13:46 ds_chars.csv
-rw-r--r--   1 flatiron  staff  11328 Jun 10 13:46 heart.csv
drwxr-xr-x   4 flatiron  staff    128 Jun 10 13:46 images
-rw-r--r--   1 flatiron  staff  43973 Jun 10 13:46 manipulating_data_with_pandas-enkeboll.ipynb
-rw-r--r--   1 flatiron  staff  17390 Jun 10 13:46 manipulating_data_with_pandas.ipynb
-rw-r--r--   1 flatiron  staff   3297 Jun 10 13:46 pre_process_animal_shelter_data.py
-rw-r--r--   1 flatiron  staff    130 Jun 10 13:46 states.csv

In [1]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [2]:
def myFunc(x): return x+1

In [5]:
uci.head()  # comments

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns = uci.columns.str.lower()

In [5]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [6]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [7]:
uci_new = uci.copy()
uci_new['str_col'] = 'B'

In [8]:
uci_new.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,str_col
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,B
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,B
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,B
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,B
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,B

In [9]:
# Call the .describe() method on our dataset. What do you observe?

uci_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
str_col     303 non-null object
dtypes: float64(1), int64(13), object(1)
memory usage: 35.6+ KB

In [10]:
import numpy as np

In [11]:
# Use the code below. How does the output differ from info() ?
uci_new.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
str_col      object
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [12]:
uci.ca.count()

303

In [13]:
None == None

True

In [14]:
type(np.NaN)

float

In [15]:
a = np.NaN
b = np.NaN
a is b

True

In [16]:
np.NaN is np.NaN

True

In [17]:
pd.isna(uci.ca).all()

False

#### The Axis Variable

In [18]:
uci.sum(axis=1) # Try [shift] + [tab] here!

0      600.3
1      614.5
2      554.4
3      598.8
4      701.6
5      542.4
6      649.3
7      609.0
8      596.5
9      559.6
10     601.2
11     600.2
12     624.6
13     539.8
14     663.0
15     555.6
16     698.0
17     565.6
18     619.5
19     611.8
20     596.5
21     596.4
22     593.0
23     602.0
24     570.4
25     704.4
26     589.6
27     468.6
28     788.8
29     540.2
       ...
273    556.1
274    557.0
275    567.0
276    536.0
277    591.3
278    673.0
279    499.6
280    624.8
281    546.0
282    547.2
283    603.0
284    555.9
285    627.8
286    570.8
287    614.0
288    656.0
289    528.0
290    581.0
291    641.4
292    607.8
293    588.8
294    483.8
295    547.0
296    525.0
297    496.0
298    567.2
299    561.2
300    558.4
301    442.2
302    602.0
Length: 303, dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [20]:
uci.age.value_counts()

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
64    10
41    10
63     9
67     9
55     8
45     8
42     8
53     8
61     8
65     8
43     8
66     7
50     7
48     7
46     7
49     5
47     5
39     4
35     4
68     4
70     4
40     3
71     3
69     3
38     3
34     2
37     2
77     1
76     1
74     1
29     1
Name: age, dtype: int64

Exercise: What are the different values for `restecg`?

In [48]:
# Your code here!
set(uci.restecg)

{0, 1, 2}

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [49]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [50]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101484 entries, 0 to 101483
Data columns (total 12 columns):
Animal ID           101484 non-null object
Name                69839 non-null object
DateTime            101484 non-null object
MonthYear           101484 non-null object
Date of Birth       101484 non-null object
Outcome Type        101477 non-null object
Outcome Subtype     46107 non-null object
Animal Type         101484 non-null object
Sex upon Outcome    101482 non-null object
Age upon Outcome    101464 non-null object
Breed               101484 non-null object
Color               101484 non-null object
dtypes: object(12)
memory usage: 9.3+ MB

In [51]:
animal_outcomes.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [52]:
# What are the breed value_counts?
animal_outcomes.Breed.value_counts()

Domestic Shorthair Mix                            29574
Pit Bull Mix                                       7849
Labrador Retriever Mix                             6111
Chihuahua Shorthair Mix                            5941
Domestic Medium Hair Mix                           2971
German Shepherd Mix                                2668
Bat Mix                                            1741
Domestic Longhair Mix                              1475
Australian Cattle Dog Mix                          1334
Siamese Mix                                        1189
Dachshund Mix                                       966
Bat                                                 934
Domestic Shorthair                                  894
Boxer Mix                                           865
Border Collie Mix                                   840
Miniature Poodle Mix                                789
Siberian Husky Mix                                  606
Catahoula Mix                                       605
Australian Shepherd Mix                             599
Staffordshire Mix                                   591
Rat Terrier Mix                                     585
Yorkshire Terrier Mix                               579
Raccoon Mix                                         535
Jack Russell Terrier Mix                            515
Beagle Mix                                          514
Miniature Schnauzer Mix                             510
Great Pyrenees Mix                                  505
Chihuahua Longhair Mix                              465
Cairn Terrier Mix                                   459
Pointer Mix                                         441
                                                  ...
Collie Rough/Keeshond                                 1
Standard Schnauzer/Soft Coated Wheaten Terrier        1
Havana Brown Mix                                      1
Yorkshire Terrier/Dachshund Wirehair                  1
Norfolk Terrier/Standard Poodle                       1
Yorkshire Terrier/Dachshund Longhair                  1
Pembroke Welsh Corgi/Chinese Sharpei                  1
Bruss Griffon/Chihuahua Longhair                      1
Shetland Sheepdog/German Shepherd                     1
Pekingese/Maltese                                     1
American Pit Bull Terrier/Weimaraner                  1
Dachshund/German Shepherd                             1
Rat Terrier/Pekingese                                 1
Boxer/Akita                                           1
Vizsla/Catahoula                                      1
Treeing Walker Coonhound/Dachshund                    1
Siberian Husky/Australian Shepherd                    1
Cavalier Span/Pug                                     1
Pekingese/Catahoula                                   1
Dachshund/Dachshund                                   1
Rhod Ridgeback/Australian Cattle Dog                  1
Rottweiler/Basset Hound                               1
Staffordshire/French Bulldog                          1
Dachshund/Blue Lacy                                   1
Pit Bull/Bullmastiff                                  1
Bluetick Hound/Australian Kelpie                      1
Anatol Shepherd/Black Mouth Cur                       1
Great Pyrenees/Siberian Husky                         1
Great Pyrenees/Alaskan Husky                          1
Doberman Pinsch/Black/Tan Hound                       1
Name: Breed, Length: 2415, dtype: int64

In [53]:
# What's the top breed for adopted dogs?
(animal_outcomes.loc[(animal_outcomes['Outcome Type'] == 'Adoption')
                     & (animal_outcomes['Animal Type'] == 'Dog')].Breed.value_counts()[:5])

Labrador Retriever Mix       3080
Pit Bull Mix                 3037
Chihuahua Shorthair Mix      2840
German Shepherd Mix          1345
Australian Cattle Dog Mix     745
Name: Breed, dtype: int64

In [54]:
# How about outcome counts for dogs?
animal_outcomes[animal_outcomes['Animal Type'] == 'Dog']['Outcome Type'].value_counts()

Adoption           26873
Return to Owner    16548
Transfer           12457
Euthanasia          1623
Rto-Adopt            327
Died                 202
Missing               20
Disposal              11
Name: Outcome Type, dtype: int64

In [55]:
type(animal_outcomes.loc)

pandas.core.indexing._LocIndexer

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [56]:
def successor(x):
    return x + 1

In [66]:
uci.applymap(successor).head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2
5,58,2,1,141,193,1,2,149,1,1.4,2,1,2,2
6,57,1,2,141,295,1,1,154,1,2.3,2,1,3,2
7,45,2,2,121,264,1,2,174,1,1.0,3,1,4,2
8,53,2,3,173,200,2,2,163,1,1.5,3,1,4,2
9,58,2,3,151,169,1,2,175,1,2.6,3,1,3,2

In [65]:
uci.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [67]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [73]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A796560,Dixie,06/10/2019 12:49:00 PM,06/10/2019 12:49:00 PM,06/04/2014,Return to Owner,NaN,Dog,Spayed Female,5 years,German Shepherd,Brown/Black
1,A797136,Precious,06/10/2019 12:32:00 PM,06/10/2019 12:32:00 PM,06/09/2009,Return to Owner,NaN,Dog,Intact Female,10 years,Chihuahua Shorthair,Black/Tan
2,A796140,NaN,06/10/2019 12:23:00 PM,06/10/2019 12:23:00 PM,03/01/2019,Adoption,NaN,Dog,Neutered Male,3 months,Chihuahua Shorthair,Red
3,A797078,Baby,06/10/2019 11:52:00 AM,06/10/2019 11:52:00 AM,06/09/2017,Return to Owner,NaN,Dog,Spayed Female,2 years,Chihuahua Shorthair,White/Black
4,A797147,NaN,06/10/2019 11:33:00 AM,06/10/2019 11:33:00 AM,06/10/2017,Euthanasia,Suffering,Other,Unknown,2 years,Fox,Brown

Exercise: Use an anonymous function to turn the entries in age to strings

In [78]:
animal_outcomes['DateTime'].head()

0    06/10/2019 12:49:00 PM
1    06/10/2019 12:32:00 PM
2    06/10/2019 12:23:00 PM
3    06/10/2019 11:52:00 AM
4    06/10/2019 11:33:00 AM
Name: DateTime, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [71]:
# Your code here
import datetime

In [124]:
animal_outcomes['dates'] = animal_outcomes['DateTime'].apply(lambda x: x.split(' '))

In [130]:
animal_outcomes.[,:7]

SyntaxError: invalid syntax (<ipython-input-130-6d432e5b6dbc>, line 1)

In [70]:

date_str = '29/12/2017' # The date - 29 Dec 2017
format_str = '%d/%m/%Y' # The format
datetime_obj = datetime.datetime.strptime(date_str, format_str)
print(datetime_obj.date())

2017-12-29

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here